{% extends 'layouts/base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div class="conttainer">
    <div class="row mt-4">
        <div class="col-md-6 mx-auto">
            <h1 class="text-center display-4 my-4"> App liste <span class="text-danger">dynamique</span>  </h1>

                    {{ form_start( form ) }}
                        {{ form_widget( form ) }}
                        <button type="submit" class="btn btn-primary w-100" formnovalidate>Save</button>
                    {{ form_end( form ) }}
        </div>
      

    </div>
</div>

{% endblock %}
